* {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: rgb(83, 35, 97);
    margin: 25;
    background-image: linear-gradient(to right, rgb(33, 45, 155), rgb(12, 3, 56));
}

h1 {
    line-height: 100px;
    color: white;
}

input::placeholder {
    font-style: italic;
}
.searchCol {
    border-radius: 5px;
    padding: 20px;
    height:100%;
}

.searchBar {
    border-radius: 5px;
    margin-bottom:5px;
    width: 100%;
}

hr {
    background-color: black;
    height: 2px;
}

.customBtn {
    background-color: rgb(74, 113, 199);
    color: white;
    border-radius: 5px;
    width: 100%;
    transition: .2s;
    margin-top: 2px;
    margin-bottom: 2px;
}

.recentBtn {
    background-color: grey;
    color: white;
    border-radius: 5px;
    width: 100%;
    transition: .2s;
    margin-top: 2px;
    margin-bottom: 2px;
}

.customBtn:hover {
    transition: .2s;
}

.container-fluid {
    height:90vh;
}

.mainWeather {
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
    height: 40%;
    margin-bottom: 2%;
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 22px;
    font-weight: 400;
}

img {
    max-width: 100%
}

.image {
    flex-basis: 40%
  }
  
.text {
    font-size: 20px;
    padding-left: 20px;
}

.forecast {
    border-radius: 5px;
    padding: 20px;
    height: 50%;
}

#searchHistory {
    margin-top: 20px;
}

#cityName {
    font-size: 32px;
    font-weight: 600;
}

.card {
    background-color: rgb(59, 54, 54);
    border-radius: 5px;
    color:white;
    padding: 20px;
    margin: 4px;
    box-shadow: 2px 2px;
    display: block;
    overflow: auto;
} 